In [2]:
import yfinance as yf

In [4]:
data = yf.download('MSFT', period='1mo', interval='5m')

[*********************100%***********************]  1 of 1 completed

In [ ]:
data

In [4]:
import datetime as dt
import yfinance as yf
import pandas as pd

In [5]:
stocks = ['AMZN', 'MSFT', 'INTC', 'GOOG', 'INFY.NS', '3988.HK']
start = dt.datetime.today() - dt.timedelta(30)
end = dt.datetime.today()

# Empty dataframe that will be filled with 
cl_price = pd.DataFrame()

In [8]:
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker, start, end)['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
cl_price

In [10]:
ohlcv_data = dict()

In [11]:
for ticker in stocks:
    ohlcv_data[ticker] = yf.download(ticker, start, end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
ohlcv_data

In [13]:
from alpha_vantage.timeseries import TimeSeries

In [22]:
import os
from dotenv import load_dotenv
load_dotenv()
import time

In [ ]:
API_KEY = os.environ.get('API_KEY')
print(API_KEY)

In [19]:
ts = TimeSeries(key=API_KEY, output_format='pandas')
data = ts.get_daily(symbol='MSFT', outputsize = 'full')
print(data)
print()
data = data[0]
print(data)
print()
data.columns = ['open', 'high', 'low', 'close', 'volume']

(            1. open  2. high  3. low  4. close   5. volume
date
2023-08-01   335.19  338.540  333.70    336.34  18381253.0
2023-07-31   336.92  337.695  333.36    335.92  25446022.0
2023-07-28   333.67  340.010  333.17    338.37  28484868.0
2023-07-27   340.48  341.330  329.05    330.72  39635262.0
2023-07-26   341.44  344.670  333.11    337.77  58383702.0
...             ...      ...     ...       ...         ...
1999-11-05    91.81   92.870   90.50     91.56  35083700.0
1999-11-04    92.31   92.750   90.31     91.75  27119700.0
1999-11-03    92.94   93.500   91.50     92.00  22258500.0
1999-11-02    92.75   94.500   91.94     92.56  23174500.0
1999-11-01    93.25   94.190   92.12     92.37  26630600.0

[5975 rows x 5 columns], {'1. Information': 'Daily Prices (open, high, low, close) and Volumes', '2. Symbol': 'MSFT', '3. Last Refreshed': '2023-08-01', '4. Output Size': 'Full size', '5. Time Zone': 'US/Eastern'})

            1. open  2. high  3. low  4. close   5. volume
date
2023-08-01   335.19  338.540  333.70    336.34  18381253.0
2023-07-31   336.92  337.695  333.36    335.92  25446022.0
2023-07-28   333.67  340.010  333.17    338.37  28484868.0
2023-07-27   340.48  341.330  329.05    330.72  39635262.0
2023-07-26   341.44  344.670  333.11    337.77  58383702.0
...             ...      ...     ...       ...         ...
1999-11-05    91.81   92.870   90.50     91.56  35083700.0
1999-11-04    92.31   92.750   90.31     91.75  27119700.0
1999-11-03    92.94   93.500   91.50     92.00  22258500.0
1999-11-02    92.75   94.500   91.94     92.56  23174500.0
1999-11-01    93.25   94.190   92.12     92.37  26630600.0

[5975 rows x 5 columns]

In [21]:
close_prices = pd.DataFrame()
api_call_count = 0

In [ ]:
for ticker in stocks:
    start_time = time.time()
    ts = TimeSeries(key=API_KEY, output_format='pandas')
    data = ts.get_intraday(symbol=ticker, interval='1min', outputsize='compact')[0]
    data.columns = ['open', 'high', 'low', 'close', 'volume']
    close_prices[ticker] = data['close']
    api_call_count += 1
    if(api_call_count == 5):
        api_call_count = 0
        time.sleep(60 - (time.time()-start_time))

In [24]:
close_prices

                        AMZN    MSFT    INTC     GOOG
date
2023-08-01 19:59:00  131.260  334.21  35.600  130.800
2023-08-01 19:58:00  131.300  334.22  35.580  130.810
2023-08-01 19:57:00  131.450  334.24  35.620  130.800
2023-08-01 19:56:00  131.360  334.16  35.580  130.810
2023-08-01 19:55:00  131.300  334.30  35.590  130.840
...                      ...     ...     ...      ...
2023-08-01 18:24:00  131.100  333.75  35.580  130.510
2023-08-01 18:23:00  131.190  333.69  35.640  130.590
2023-08-01 18:22:00  131.190  333.28  35.620  130.520
2023-08-01 18:21:00  131.215  333.77  35.630  130.392
2023-08-01 18:20:00  131.250  333.91  35.603  130.500

[100 rows x 4 columns]