In [2]:
import datetime as dt
import yfinance as yf
import pandas as pd
import pickle

In [3]:
stocks = ['AMZN', 'GOOG', 'MSFT']
start = dt.datetime.today() - dt.timedelta(3650)
end = dt.datetime.today()

In [ ]:
ohlcv_data = dict()

In [4]:
for ticker in stocks:
    temp = yf.download(ticker, period='1mo', interval='15m')
    temp.dropna(how='any', inplace=True)
    ohlcv_data[ticker] = temp

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
with open('ohlcv_data.pickle', 'wb') as handle:
    pickle.dump(ohlcv_data, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
with open('ohlcv_data.pickle', 'rb') as handle:
    ohlcv_data = pickle.load(handle)

In [ ]:
ohlcv_data

In [7]:
def MACD(DF, a=12, b=26, c=9):
    df = DF.copy()
    df['MA_Fast'] = df['Adj Close'].ewm(span=a, min_periods=a).mean()
    df['MA_Slow'] = df['Adj Close'].ewm(span=b, min_periods=b).mean()
    df['MACD'] = df['MA_Fast'] - df['MA_Slow']
    df['Signal'] = df['MACD'].ewm(span=c, min_periods=c).mean()
    return df.loc[:, ['MACD', 'Signal']]

In [11]:
for ticker in ohlcv_data:
    ohlcv_data[ticker][['MACD', 'Signal']] = MACD(ohlcv_data[ticker])

,Open,High,Low,Close,Adj Close,Volume,MACD,Signal
Datetime,,,,,,,,
2023-07-11 09:30:00,127.750000,128.880005,127.349998,128.839706,128.839706,7069003,NaN,NaN
2023-07-11 09:45:00,128.830002,129.770004,128.720001,128.979996,128.979996,5319951,NaN,NaN
2023-07-11 10:00:00,128.970001,129.039993,128.009995,128.169998,128.169998,3339981,NaN,NaN
2023-07-11 10:15:00,128.169998,128.876999,128.039993,128.669998,128.669998,2395111,NaN,NaN
2023-07-11 10:30:00,128.669998,129.289993,128.649994,129.289993,129.289993,2440010,NaN,NaN
...,...,...,...,...,...,...,...,...
2023-08-10 14:45:00,138.270004,138.779999,138.190002,138.660095,138.660095,1404986,-0.174991,-0.154212
2023-08-10 15:00:00,138.679993,138.679993,138.119995,138.565002,138.565002,1787470,-0.152585,-0.153886
2023-08-10 15:15:00,138.571198,138.725006,138.210007,138.350006,138.350006,1556180,-0.150441,-0.153197
2023-08-10 15:30:00,138.350006,138.350006,138.005005,138.160004,138.160004,1586929,-0.162205,-0.154999
2023-08-10 15:45:00,138.149994,138.690002,138.039993,138.589996,138.589996,3186155,-0.135271,-0.151053

In [12]:
ohlcv_data['AMZN']

,Open,High,Low,Close,Adj Close,Volume,MACD,Signal
Datetime,,,,,,,,
2023-07-11 09:30:00,127.750000,128.880005,127.349998,128.839706,128.839706,7069003,NaN,NaN
2023-07-11 09:45:00,128.830002,129.770004,128.720001,128.979996,128.979996,5319951,NaN,NaN
2023-07-11 10:00:00,128.970001,129.039993,128.009995,128.169998,128.169998,3339981,NaN,NaN
2023-07-11 10:15:00,128.169998,128.876999,128.039993,128.669998,128.669998,2395111,NaN,NaN
2023-07-11 10:30:00,128.669998,129.289993,128.649994,129.289993,129.289993,2440010,NaN,NaN
...,...,...,...,...,...,...,...,...
2023-08-10 14:45:00,138.270004,138.779999,138.190002,138.660095,138.660095,1404986,-0.174991,-0.154212
2023-08-10 15:00:00,138.679993,138.679993,138.119995,138.565002,138.565002,1787470,-0.152585,-0.153886
2023-08-10 15:15:00,138.571198,138.725006,138.210007,138.350006,138.350006,1556180,-0.150441,-0.153197
2023-08-10 15:30:00,138.350006,138.350006,138.005005,138.160004,138.160004,1586929,-0.162205,-0.154999
2023-08-10 15:45:00,138.149994,138.690002,138.039993,138.589996,138.589996,3186155,-0.135271,-0.151053